h1 {
    color: blue;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
}
h2 {
    font: italic bolder 3em 'Gill Sans' ;
    text-align: center;
    color: blue;
    text-decoration: underline;
}
p {
    font-size: 1,5em;
    font-weight: bolder;
    font-style: italic;
    /*propiedade shorthand font
    -font-style->font-weight->font-size->font-family
    ont-size: 3em;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 1,5em;
    font-style: italic;
    */
    
}
body {
    background-image:linear-gradient(rgb(7, 180, 30),rgb(201, 235, 11),rgb(5, 4, 99));
    background-attachment: fixed;
}
